<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="main.css">
		<script src=""></script>
		<title>layout.html</title>
	</head>
	<body>
		<div id="skin">
			<header id="top_header">
				<h1>為下代Apple Watch與更好的體驗，蘋果規定只有原生watch OS app可上架</h1>
			</header>
			<nav id="top_menu">
				<ul>
					<li>T-shirts & Clothing</li> | 
					<li>Kids</li> | 
					<li>Baby</li> | 
					<li>Wall Art</li> | 
					<li>Drinkware</li> | 
					<li>Hobbies</li>
				</ul>		
			</nav>
			<section id="main_section">
				<article>
					<hgroup>
						<h2>Apple Watch 的壞消息</h2>
						<h4>App Store 商店的 watchOS 應用都必須是基於二代以後 SDK 的原生應用 app</h4>
					</hgroup>
					<p>
					昨天傳來了一個關於 Apple Watch 的壞消息：市場調研機構 ITG 的高級分析師 Matthew Goodman 日前稱，相比於 2016 年第一季，Apple Watch 在第二季的銷量暴跌了 40%，Goodman 估計在 2016 年第二季，Apple Watch 的全球銷量大概在 310 萬隻。今天又傳來一個還算好的消息：自今年 6 月 1 日起，所有交付到 App Store 商店的 watchOS 應用都必須是基於二代以後 SDK 的原生應用 app。
					</p>
					<p>
					為什麼說這個消息還算好呢？因為在 Apple Watch 推出初期，watchOS 非常依賴於與 iPhone 之間的通訊，許多非原生應用軟體的運算實際上是在 iPhone 上完成的，然後通過藍牙與手錶進行傳輸，這樣的執行邏輯讓許多 Apple Watch 的應用運行緩慢卡頓，完全沒有那種絲滑順暢的操作體驗。為了改善 Apple Watch 的體驗，在 watchOS 2 的更新中，蘋果引入了對手錶原生應用軟體的支持。開發者可以開發獨立運行在 Apple Watch 上的應用軟體，雖然 Apple Watch 的運算能力不強，但是總歸比在和 iPhone 之間傳來傳去好多了。大體上，原生應用會有更為順暢的體驗。
					</p>
					<p>
					因為目前 Apple Watch 和 iPhone 之間的聯繫實在是過於緊密，基本上離開了 iPhone 之後，Apple Watch 就是個超短續航的電子手錶加計步手環。更多的原生應用軟體出現，提高 Apple Watch 的獨立性對消費者來說無疑是個好消息。值得玩味的是，這個規定實施的時間：6 月 1 日。這可不是為了慶祝什麼節日，最直接的推測就是在 6 月 13 日開始舉辦的蘋果 WWDC（世界開發者大會）上會有關於 Apple Watch 的新動作出現，要麼是 watchOS 的更新，或者是下一代的 Apple Watch 發布。在 WWDC 的消息頁面中，還出現了一首形似代碼的小詩，其中就有一句「Hello yogi on my wrist（你好，我手腕上的瑜伽修行者）」，這似乎暗指 Apple Watch。
					</p>
					<p>
					雖然初代 Apple Watch 的銷量沒能符合大部分分析機構的預期，人們對於這款產品的體驗也並不算滿意。不過蘋果在最近的幾次發布會上都會提一下 Apple Watch，發布各種表帶，加上這一次強制開發者提交 watchOS 原生應用，至少也說明了蘋果對 Apple Watch 還算是上心。那麼廠商這麼想，消費者會買單嗎？
					</p>
					<footer>
						-- By John
					</footer>
				</article>
				<article>
					<hgroup>
						<h2>Apple Watch 的壞消息</h2>
						<h4>App Store 商店的 watchOS 應用都必須是基於二代以後 SDK 的原生應用 app</h4>
					</hgroup>
					<p>
					昨天傳來了一個關於 Apple Watch 的壞消息：市場調研機構 ITG 的高級分析師 Matthew Goodman 日前稱，相比於 2016 年第一季，Apple Watch 在第二季的銷量暴跌了 40%，Goodman 估計在 2016 年第二季，Apple Watch 的全球銷量大概在 310 萬隻。今天又傳來一個還算好的消息：自今年 6 月 1 日起，所有交付到 App Store 商店的 watchOS 應用都必須是基於二代以後 SDK 的原生應用 app。
					</p>
					<p>
					為什麼說這個消息還算好呢？因為在 Apple Watch 推出初期，watchOS 非常依賴於與 iPhone 之間的通訊，許多非原生應用軟體的運算實際上是在 iPhone 上完成的，然後通過藍牙與手錶進行傳輸，這樣的執行邏輯讓許多 Apple Watch 的應用運行緩慢卡頓，完全沒有那種絲滑順暢的操作體驗。為了改善 Apple Watch 的體驗，在 watchOS 2 的更新中，蘋果引入了對手錶原生應用軟體的支持。開發者可以開發獨立運行在 Apple Watch 上的應用軟體，雖然 Apple Watch 的運算能力不強，但是總歸比在和 iPhone 之間傳來傳去好多了。大體上，原生應用會有更為順暢的體驗。
					</p>
					<p>
					因為目前 Apple Watch 和 iPhone 之間的聯繫實在是過於緊密，基本上離開了 iPhone 之後，Apple Watch 就是個超短續航的電子手錶加計步手環。更多的原生應用軟體出現，提高 Apple Watch 的獨立性對消費者來說無疑是個好消息。值得玩味的是，這個規定實施的時間：6 月 1 日。這可不是為了慶祝什麼節日，最直接的推測就是在 6 月 13 日開始舉辦的蘋果 WWDC（世界開發者大會）上會有關於 Apple Watch 的新動作出現，要麼是 watchOS 的更新，或者是下一代的 Apple Watch 發布。在 WWDC 的消息頁面中，還出現了一首形似代碼的小詩，其中就有一句「Hello yogi on my wrist（你好，我手腕上的瑜伽修行者）」，這似乎暗指 Apple Watch。
					</p>
					<p>
					雖然初代 Apple Watch 的銷量沒能符合大部分分析機構的預期，人們對於這款產品的體驗也並不算滿意。不過蘋果在最近的幾次發布會上都會提一下 Apple Watch，發布各種表帶，加上這一次強制開發者提交 watchOS 原生應用，至少也說明了蘋果對 Apple Watch 還算是上心。那麼廠商這麼想，消費者會買單嗎？
					</p>
					<footer>
						-- By John
					</footer>
				</article>
			</section>
			<aside id="side_news">
				<h3>Join the CafePress Community</h3>	
				<p>
					"CafePress offers a fantastic way to not only put my art online, but to sell it on hundreds of cool and diverse products! It's a great way to get my creations out in the world." - Kristen Fox, artoffoxvox
				</p>
				<p>
					CafePress is where the world's creative minds join forces to provide an unparalleled marketplace. We give you the power to create custom products and personalized gifts on a variety of high-quality items such as t-shirts, hoodies, posters, bumper stickers and mugs. CafePress also allows you to set up online shops where you can design and sell your own unique merchandise.
				</p>
			</aside>
			<footer id="the_footer">
				All Content Copyright &copy; 2016 Jeff Chen Inc.	
			</footer>
		</div>
	</body>
</html>
